.booking-form-container {
    width: 75vw;
    margin: auto;
    margin-top: 3%;
    padding: 1% 0;
    border: 1px black solid;
    border-radius: 10px;
    /* box-shadow: ; */
    background-color: #bf4342;
    /* margin-top: 20vh; */
}

.form{
    list-style: none;
    /* background-color: purple; */
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    width: auto;
    align-items: center;
}

.input {
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: black;
    /* color: rgb(129, 131, 132); */
    border-radius: 2px;
    border: 1px solid rgb(52, 53, 54);
    background-color: #D9D9D9;
    margin: 3px;
    width: 30%;
    height: 50px;
    border-radius: 20px;
    font-size: 125%;
    padding: 0 1%;
}

.input:hover {
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: black;
    border-radius: 20px;
    transition: 0.4s;
    border: 1px solid rgb(129, 131, 132);
    background-color: #D9D9D9;
    margin: 3px;
}

.submit {
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: black;
    border-radius: 20px;
    border: 1px solid rgb(52, 53, 54);
    background-color: #D9D9D9;
    width: 130px;
    height: 50px;
    margin-left: 15px;
    font-size: 125%;
    font-size: 125%;
}

.submit:hover {
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: black;
    border-radius: 20px;
    transition: 0.4s;
    border: 1px solid rgb(129, 131, 132);
    background-color: #D9D9D9;
    width: 130px;
    height: 50px;
    margin-left: 15px;
    transform: scale(1.1);
    box-shadow: 0px 5px black;
}
