/* .update-form {
    position: relative;
    top: ;
    left: 70%;
} */

/* .visible >  {
    visibility: hidden;
} */

.update-form {
    display: flex;
    flex-flow: column ;
    margin: 5%;
    padding-right: 5%;
}

.update-form > form > input {
    width: 200px;
    height: 50px;
}
